<div class='flex flex-col gap'>
  <div>
    <%= link_to 'New Repository', new_repository_path, class: 'btn btn--positive' %>
  </div>

  <hr />

  <h1>Repositories</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>URL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%= repository.url  %></td>
          <td>
            <%= link_to 'Show', repository_path(repository) %>
            <%= link_to 'Edit', edit_repository_path(repository) %>
            <%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
